body {
    font-family: Futura!important;
    letter-spacing: 0.02em!important;
}

.bg-blue-linear-gradient {
    background: rgb(0,74,139);
    background: linear-gradient(180deg, rgb(21, 127, 220) 0%, rgb(17, 138, 186) 0%, rgba(106,198,255,0.30438112745098034) 71%);
}

.border-radius-4 {
    border-radius: 4px;
}

.vh-75 {
    height: 75vh;
}

.mh-75 {
    max-height: 75%;
}

.fixed-game-data-control-btns-position {
    position: absolute;
    top: -45px;
    right: 0px;
}

.box-shadow-pale {
    box-shadow: 2px 2px 4px 1px rgb(220, 220, 220);
}

.border-pale-white-thin-bottom {
    border-bottom: 1px solid rgb(232, 232, 232);
}

.border-pale-white-thin-right {
    border-right: 1px solid rgb(232, 232, 232);
}

.inner-shadow {
    box-shadow: 2px 2px 4px 1px rgb(220, 220, 220) inset;
}

.item-img {
    width: 90%;
}

.img-hover-filter {
    filter: brightness(1);
    transition: all 0.1s;
}

.img-hover-filter:hover {
    filter: brightness(0.85);
}

.pointer {
    cursor: pointer;
}

.item-box-focus:hover {
    background-color: #d0e9ff53;
}

.text-pale-blue {
    color: #d2ebff;
}